.output-container{
    padding: 5px;
}


.cell-container{
    margin: 10px;
}

.info-container{
    border-radius: 5px;
    max-height: 15rem;
    margin : 5px 10px 5px 10px;
    background-color: #000a2008;
    display: flex;
    align-items: center;
    border-color: #e2e8f0;
    width: 100%;
    overflow: auto;
    padding: 10px;
}

.wrong-output{
    color: rgb(255, 0, 0);
    font-size: x-large;
    margin: 10px;
}

.testcase-number{
    background-color:#000a2008; 
    margin-top:10px;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    margin-right: 1rem;
    height: fit-content;
}