body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .box-container {
    padding-top: 20px;
    display: flex;
    height: 89vh;
    overflow-x: auto;
    justify-content: space-between;
    flex-direction: column;
    background-color: #f0f0f078; /* Background color for the entire page */
  }
  
  .table {
    width: 80%;
    margin: 0 auto; /* Center the table horizontally */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  }
  
  .question-name {
    cursor: pointer;
  }
  
  .question-name:hover {
    text-decoration: underline;
    color: #0000EE;
  }
  