/* Custom styles for the cards */
  
.admin-dashboard-container-card{
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}